.feature{
    display: flex;
    gap: .8rem;
}

.reminder{
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.category{
    flex: 1;
}

.count-box{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}
.upper-count-box, .lower-count-box{
    padding: 15px;
    background-color: var(--background-feature-color);
    backdrop-filter: blur(22px);
    border-radius: 20px;
}
.upper-count-box{
    display: flex;
    gap: .5rem;
    align-items: center;
    border: 1px solid #A9A9A9;
    border-bottom: 1px dashed transparent;
}
.remind-box h5{
    margin: 0;
}

/*Count down time*/
.lower-count-box{
    display: flex;
    gap: 1.5em;
    font-size: 24px;
    border-top: transparent;
    justify-content: center;
}
*, *::after, *::before{
    box-sizing: border-box;
}

.time-segment{
    display: flex;
    flex-direction: column;
    gap: .1em;
}
.timer-segment{
    font-size: 1.5em;
    display: flex;
    gap: .5em;
}
.segment-container{
    display: flex;
    justify-content: center;
    gap: .1em;
}
.segment{
    /*color: rgba(230, 33, 33, 0.95);*/
}
.timer-title{
    font-size: .5em;
    display: flex;
    justify-content: center;
}
.flip-card{
    min-width: 34px;
    position: relative;
    display: inline-flex;
    flex-direction: column;
}

.top,
.bottom,
.flip-card.flip .top-flip,
.flip-card.flip .bot-flip
{
    padding: .1em;
    height: 0.585em;
    overflow: hidden;
    line-height: 1;
    display: flex;
    justify-content: center;
}

.top,
.flip-card.flip .top-flip{
    background-color: rgba(154, 154, 154, 1);
    margin-bottom: .03em;
    border-top-left-radius: .2em;
    border-top-right-radius: .2em;
}
.flip-card.flip .top-flip{
    position: absolute;
    animation: flip-top 500ms ease-in;
    transform-origin: bottom;
    width: 100%;
}

@keyframes flip-top {
    100%{
        transform: rotateX(90deg);
    }
}
.bottom,
.flip-card.flip .bot-flip{
    background-color: rgba(140, 140, 140, 1);
    display: flex;
    align-items: flex-end;
    border-bottom-left-radius: .2em;
    border-bottom-right-radius: .2em;
}
.flip-card.flip .bot-flip{
    position: absolute;
    bottom: 0;
    animation: flip-bottom 500ms ease-out 500ms;
    transform-origin: top;
    width: 100%;
}

@keyframes flip-bottom {
    0%{
        transform: rotateX(90deg);
    }
}

