.feature{
    display: flex;
    gap: .8rem;
}

.reminder{
    flex: 4;
    display: flex;
    /*padding: 1.5rem 1.2rem 1.5rem 1.3rem;*/
    border-radius: 20px;
}

.category{
    flex: 1;
}
.name-movie-and-arrow-btn{
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: space-between;
    margin-right: 1rem;
    margin-top: 1rem;
}

.count-box{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}
.upper-count-box, .lower-count-box{
    padding: 15px;
    background-color: var(--background-feature-color);
    border-radius: 20px;

}
.upper-count-box{
    display: flex;
    gap: .5rem;
    align-items: center;
    border: 1px solid #A9A9A9;
    border-bottom: 1px dashed #000000;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.remind-box h5{
    margin: 0;
}


/*Count down time*/
.lower-count-box{
    display: flex;
    gap: 1.5em;
    font-size: 24px;
    border-top: transparent;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    justify-content: center;
}
*, *::after, *::before{
    box-sizing: border-box;
}

.time-segment{
    display: flex;
    flex-direction: column;
    gap: .1em;
}
.timer-segment{
    font-size: 1.5em;
    display: flex;
    gap: .5em;
}
.segment-container{
    display: flex;
    justify-content: center;
    gap: .1em;
}
.segment{
    color: rgba(230, 33, 33, 0.95);
}
.timer-title{
    font-size: .5em;
    display: flex;
    justify-content: center;
}
.flip-card{
    position: relative;
    display: inline-flex;
    flex-direction: column;
}

.top,
.bottom,
.flip-card.flip .top-flip,
.flip-card.flip .bot-flip
{
    padding: .1em;
    height: 0.585em;
    overflow: hidden;
    line-height: 1;
}

.top,
.flip-card.flip .top-flip{
    background-color: #f1f0f0;
    margin-bottom: .03em;
    border-top-left-radius: .1em;
    border-top-right-radius: .1em;
}
.flip-card.flip .top-flip{
    position: absolute;
    animation: flip-top 500ms ease-in;
    transform-origin: bottom;
    width: 100%;
}

@keyframes flip-top {
    100%{
        transform: rotateX(90deg);
    }
}
.bottom,
.flip-card.flip .bot-flip{
    display: flex;
    align-items: flex-end;
    background-color: white;
    border-bottom-left-radius: .1em;
    border-bottom-right-radius: .1em;
}
.flip-card.flip .bot-flip{
    position: absolute;
    bottom: 0;
    animation: flip-bottom 500ms ease-out 500ms;
    transform-origin: top;
    width: 100%;
}

@keyframes flip-bottom {
    0%{
        transform: rotateX(90deg);
    }
}

/*Direction button*/
.arrow-btn{
    display: inline-flex;
}
.direction-btn{
    padding: .75rem 1.15rem;
    background-color: var(--background-feature-color);
    border: none;
    cursor: pointer;
}
.direction-btn.right{
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.direction-btn.left{
    border-right: 1px solid #d3d3d3;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

/*Image processing */

.movie-image-feature{
    position: absolute;
    width: 54rem;

}
.movie-image-feature img{
    border-radius: 15px;
    width: 100%;
    aspect-ratio: 34/10;
    height: auto;

}