/*Show login form*/
body.log-form-active{
    overflow-y: hidden;
}
body.log-form-active .container{
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}
body.log-form-active .log-container{
    display: flex;
}
.log-container{
    border-radius: 15px;
}
.sign-in-detail, .panel-left{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.sign-up-detail, .panel-right{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.log-container input{
    color: black;
    font-size: 1.2rem;
}
.log-container a{
    color: black;
    font-size: .9rem;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}
.log-container button{
    font-size: 1.2rem;
}
.log-container{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.log-detail{
    display: flex;
    flex-direction: column;
    box-shadow: #d1d9e6 1px 1px 5px, #f9f9f9 -0px -0px 5px;
    padding: 5rem 4rem;
    flex: 1;
}

.log-detail-title{
    pointer-events: none;
    user-select: none;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
}
.log-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}
.log-form .log-box input{
    border: 1px solid white;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
    border-radius: 7px;
    width: 100%;
    max-width: 500px;
}
.log-form .log-box input,
.log-form .log-box label{
    padding: 10px 20px;
}
.log-box{
    position: relative;
    min-width: 350px;
}
.log-form input:focus {
    outline: none;
    box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
    transition: .25s;
}

.log-form .log-box label{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: .25s;
}
.log-form .log-box input:focus ~ label,
.log-form .log-box input:not(:placeholder-shown) ~ label
{
    top: -28px;
    left: 0;
    font-size: .75rem;
    color: #4883e3;
}
.log-form .show-password label{
    cursor: pointer;
    position:relative;
}
.log-form .show-password{
    cursor: pointer;
    position: relative;
    left: 95px;
}
.log-form .show-password input{
    cursor: pointer;
    box-shadow: none;
}
.log-form .show-password-checkbox input{
    transition: 1s;
}
.submit-btn{
    margin-top: 15px;
}
.log-form-btn{
    border-radius: 18px;
    padding: 10px 40px;
    background: var(--background-main-color);
    border: transparent;
    cursor: pointer;
}
.log-form-btn:focus, .log-form-btn:hover{
    transform: scale(.98);
    transition: .15s;
}
.log-forgot-password{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.log-description{
    text-align: center;
    color: #ffffff;
    font-size: 0.85rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.close-log-detail-btn svg{
    color: black;
}
.close-log-detail-btn{
    z-index: 99;
    position: absolute;
    right: 1.2rem;
    top: 1.2rem;
}
.close-log-detail-btn .w-6 {
    cursor: pointer;
}

.log-container.active-scroll .sign-up-detail{
    position: relative;
    z-index: 1;
    transform: translate(var(--percent-log));
    animation: scroll-sign-up-to-right 1s ease-out;
}
.log-container.active-scroll .sign-in-detail{
    position: relative;
    z-index: 1;
    animation: scroll-sign-in-to-left 1s ease-out;
}
.log-container .sign-in-detail{
    position: relative;
    z-index: 1;
}
.log-container .sign-up-detail{
    position: relative;
    z-index: 1;
}


@keyframes scroll-sign-up-to-right{
    0% {transform: translate(0)}
    100% {transform: translate(var(--percent-log))}
}
@keyframes scroll-sign-in-to-left {
    0%{ transform: translate(var(--percent-log))}
    100%{ transform: translate(0)}
}
.overlay-log-detail-container{
    flex: 1;
}
.overlay-log-detail{
    width: 100%;
    height: 100%;
}

.panel{
    width: 100%;
    height: 100%;
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(52, 95, 107);
    z-index: 2;
    position: relative;
    box-shadow: #96add3 1px 1px 5px, #96add3 -1px -1px 5px;
}
.log-container.active-scroll .panel-left{
    z-index: 2;
    transform: translate(var(--percent-panel));
    animation: scroll-panel-to-left 1s ease-out;
}
.log-container.active-scroll .panel-right{
    z-index: 2;
    animation: scroll-panel-to-right 1s ease-out;
}
.log-container .panel-left{
    z-index: 2;
}
.log-container .panel-right{
    z-index: 2;
}
.switch-another-form{
    display: none;
    padding-top: 1rem;
    justify-content: center;
    gap: .3rem;
}
.log-container .switch-another-form a{
    border-bottom: none;
    color: red;
}

@keyframes scroll-panel-to-left {
    0% {transform: translate(0%)}
    100% {transform: translate(var(--percent-panel))}
}

@keyframes scroll-panel-to-right {
    0% { transform: translate(var(--percent-panel))}
    100% {transform: translate(0%)}
}
@media screen and (max-width: 1600px) {
    .log-container{
        min-width: 60%;
    }
    .log-detail-title{
        font-size: 1.5rem;
    }
    .log-detail{
        padding: 4.5rem 3rem;
    }
    .panel{
        padding: 3rem 2rem;
    }
}
@media screen and (max-width: 1200px) {
    .log-container{
        min-width: 70%;
    }
    .log-detail{
        padding: 3.5rem 2rem;
    }
    .panel{
        padding: 3rem 1.5rem;
    }
}
@media screen and (max-width: 900px){
    .log-container{
        min-width: 85%;
    }
}
@media screen and (max-width: 768px) {
    .log-container{
        min-width: 100%;
        /*min-height: 80%;*/
    }
    .log-box{
        min-width: 320px;
    }
}
@media screen and (max-width: 625px) {
    body.log-form-active .log-container{
        display: block;
        min-width: 70%;
    }
}
@media screen and (max-width: 500px) {
    body.log-form-active .log-container{
        min-height: 100%;
        min-width: 100%;
        display: flex;
        align-items: center;
    }
    .overlay-log-detail-container{
        display: none;
    }
    .log-detail{
        padding: 1rem;
        box-shadow: none;
    }
    .log-box{
        min-width: 300px;
    }
    .switch-another-form{
        display: flex;
    }
    .switch-another-form .log-description{
        color: black;
    }
    .log-form .show-password{
        left: 70px;
    }
}
@media screen and (max-width: 350px) {
    .log-detail{
        padding: 0;
    }
    .log-box{
        min-width: 160px;
        max-width: 240px;
    }
    .log-form .show-password{
        left: 45px;
    }
}