.log-container input{
    color: black;
    font-size: 1.2rem;
}
.log-container a{
    color: black;
    font-size: .9rem;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}
.log-container button{
    font-size: 1.2rem;
}
.log-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.log-detail{
    display: flex;
}
.log-detail-left{
    padding: 5rem;
    flex-basis: 60%;
}
.log-detail-right{
    padding: 8rem 5rem;
    flex-basis: 40%;
    box-shadow: red -5px 0 10px;
}
.log-detail-title{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
}
.log-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}
.log-form input{
    border: 1px solid white;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
    border-radius: 7px;
    width: 100%;
    max-width: 500px;
}
.log-form input,
.log-form label{
    padding: 10px 20px;
}
.log-box{
    position: relative;
    min-width: 350px;
}
.log-form input:focus {
    outline: none;
    box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
    transition: .25s;
}
.log-form input:focus ~ label,
.log-form input:not(:placeholder-shown) ~ label{
    top: -28px;
    left: 0;
    font-size: .75rem;
    color: #4883e3;
}

.log-form label{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: .25s;
}


.log-form-btn{
    margin-top: 15px;
    border-radius: 18px;
    padding: 10px 40px;
    background: var(--background-main-color);
    border: transparent;
    cursor: pointer;
}
.log-form-btn:focus, .log-form-btn:hover{
    transform: scale(.98);
    transition: .15s;
}
.log-forgot-password{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /*border-bottom: 1px solid black;*/
}