@import "header.css";
@import "account.css";
@import "menu-bar.css";
@import "feature.css";
@import "movie-single.css";
@import "content.css";
@import "setting-logout.css";
body{
    font-family: 'Sora', sans-serif;
    background: rgba(190, 213, 210, 0.46);
    font-size: 16px;
}

.container{
    background: white;
    margin: 100px 200px;
    padding: 25px 59px;
    border-radius: 30px;
}

ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-inline-start: 0;
    padding-inline-start: 0;
    gap: 10px;
}


a{
    text-decoration: none;
    color: #000000;
    font-weight: 400;
}

h4,h5{
    font-weight: 500;
}
svg{
    width: 20px;
    height: 20px;
}

p{
    margin: 5px
}

