@import "header.css";
@import "account.css";
@import "menu-bar.css";
@import "feature.css";
@import "movie-single.css";
@import "content.css";
@import "setting-logout.css";
@import "category.css";
@import "movie-list.css";
@import "overlay.css";
@import "log.css";
@import "top-movie.css";
:root{
    --background-main-color: linear-gradient(to bottom right, #72b9f8, #0c87fa);
    --background-feature-color: rgba(150, 150, 150, 0.725);
    --background-category-color: linear-gradient(to bottom right, rgba(9,50,59,1) 0%, rgba(37,38,61,1) 0%, rgba(6,18,62,1) 100%);
    --main-color: #21212d;
    --menu-color: rgb(15, 25, 87);
    --size-spinner: 30px;
}
body{
    font-family: 'Sora', sans-serif;
    background: rgba(190, 213, 210, 0.46);
    font-size: 16px;
    color: white;
}

.container{
    background: white;
    margin: 100px 200px;
    padding: 25px 30px;
    border-radius: 30px;
    background: var(--main-color);
}
ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-inline-start: 0;
    padding-inline-start: 0;
    gap: 10px;
}
.btn{
    display: flex;
    align-items: center;
    border: 1px solid #4aa4fa;
    background-image: var(--background-main-color);
    border-radius: 15px;
    padding: 12px 15px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}
h2{
    margin: 0;
    font-weight: 600;
}
h4,h5{
    font-weight: 500;
}
svg{
    color: white;
    width: 20px;
    height: 20px;
}

p{
    margin: 5px
}
input{
    color: white;
}

.flex-grid{
    display: flex;
    flex-wrap: wrap;
    --grid-col: 5;
    --grid-gap-x: 10px;
    --grid-gap-y: 10px;
    --grid-gap-x-total: calc(var(--grid-gap-x) * ((var(--grid-col)) - 1));
    --grid-space-each: calc(var(--grid-gap-x-total) / var(--grid-col));
    gap: var(--grid-gap-y) var(--grid-gap-x)
}
.flex-grid > * {
    width: calc(100% / var(--grid-col) - var(--grid-space-each));
}


@media only screen and (max-width: 1896px) {
    .container{
        margin: 45px 90px;
    }
}
@media screen and (max-width: 1440px) {
    body{
        font-size: 15px;
    }
    .container{
        margin: 30px 60px;
    }
}
@media screen and (min-width: 1025px) {
    .mobile-btn{
        display: none;
    }
}
@media screen and (max-width: 1024px) {
    .container{
        margin: 5px 10px;
    }
    .desktop-btn{
        display: none;
    }

}
@media screen and (max-width: 620px) {
    .container{
        padding: 20px 10px;
    }
}
