@import "header.css";
@import "account.css";
@import "menu-bar.css";
@import "feature.css";
@import "movie-single.css";
@import "content.css";
@import "setting-logout.css";
@import "category.css";
@import "movie-list.css";
@import "overlay.css";
:root{
    --background-main-color: linear-gradient(to bottom right, #72b9f8, #0c87fa);
    --background-feature-color: rgba(172, 166, 169, 0.95);
    --background-category-color: linear-gradient(to bottom right, rgba(9,50,59,1) 0%, rgba(37,38,61,1) 0%, rgba(6,18,62,1) 100%);
    --main-color: #21212d;
    --menu-color: rgb(15, 25, 87);
}
body{
    font-family: 'Sora', sans-serif;
    background: rgba(190, 213, 210, 0.46);
    font-size: 16px;
    color: white;
}

.container{
    background: white;
    margin: 100px 200px;
    padding: 25px 30px 25px 40px;
    border-radius: 30px;
    background: var(--main-color);
}

ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-inline-start: 0;
    padding-inline-start: 0;
    gap: 10px;
}
.btn{
    display: flex;
    align-items: center;
    border: 1px solid #4aa4fa;
    background-image: var(--background-main-color);
    border-radius: 15px;
    padding: 12px 15px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}
h2{
    margin: 0;
    font-weight: 600;
}
h4,h5{
    font-weight: 500;
}
svg{
    color: white;
    width: 20px;
    height: 20px;
}

p{
    margin: 5px
}
input{
    color: white;
}
