body.overlay-active{
    overflow-y: hidden;
}
body.overlay-active .overlay{
    display: block;
}
body.overlay-active .container{
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}

.overlay {
    display: none;
    color: black;
}
.overlay h2{
    font-size: 2.5rem;
}
.overlay h4{
    margin: 0;
}

.movie-detail-container{
    min-width: 60rem;
    min-height: 39rem;
    border-radius: 12px;
    padding: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: black;
    /*position: absolute;*/
    z-index: 999;
    position: fixed;
}
.movie-detail{
    display: flex;
    background: white;
    border-radius: 12px;
}
.left-content{
    flex: 1 40%;
}
.right-content{
    flex: 2 60%;
}

.movie-image img{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 100%;
    height: auto;
    aspect-ratio: 5 / 8 ;
}

.right-content .movie-review,
.right-content svg{
    color: #017bde;
    font-weight: 600;
}

.right-content .detail{
    display: flex;
    gap: 5px;
}
.movie-information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1rem;
}
.movie-information-group{
    display: flex;
    flex-direction: column;
    gap: .7rem;
    margin-top: 1rem;
}
.close-detail-btn{
    position: absolute;
    right: 1.2rem;
    top: 1.2rem;
}
.close-detail-btn svg{
    color: black;
}
.close-detail-btn .w-6 {
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .movie-detail-container{
        min-width: 80%;
        min-height: auto;
    }
}